.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.link {
  text-decoration: none;
  color: inherit;
}

.nav {
  display: flex;
  color: white;
  background-color: #e9967a;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  border-style: double;
  border-width: 8px;
}

/* flex 상위에 적용하기 */

.li {
  float: left;
  padding: 20px 30px;
  width: 262px;
  font-size: 25px;
  font-weight: bold;
}

li:hover {
  background-color: white;
  color: #e9967a;
}

.main {
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 800px;
  padding: 50px;
  border-radius: 15px;
}

.content {
  width: 800px;
  height: 600px;
  text-align: center;
  line-height: 160%;
  margin-top: 30px;
}

.img {
  margin: 45px;
}

.checkImg {
  margin: 0 55px;
}

.span {
  color: #bb3b11;
}

.div {
  display: grid;
  place-items: center;
}

.result {
  color: rgb(73, 63, 63);
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
  font-weight: bold;
  width: 37ch;
  animation: typing 1s steps(15), blink 0.4s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  60% {
    border-color: transparent;
  }
}

.h2 {
  margin: 20px;
  color: #641f08;
}
