.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.link {
  text-decoration: none;
  color: inherit;
}

.nav {
  display: flex;
  color: white;
  background-color: #e9967a;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  border-style: double;
  border-width: 8px;
}

/* flex 상위에 적용하기 */

.li {
  float: left;
  padding: 20px 30px;
  width: 262px;
  font-size: 25px;
  font-weight: bold;
}
li:hover {
  background-color: white;
  color: #e9967a;
}

.main {
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 800px;
  padding: 50px;
  border-radius: 15px;
}
