.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.link {
  text-decoration: none;
  color: inherit;
}

.nav {
  display: flex;
  color: white;
  background-color: #e9967a;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  border-style: double;
  border-width: 8px;
}

/* flex 상위에 적용하기 */

.li {
  float: left;
  padding: 20px 30px;
  width: 262px;
  font-size: 25px;
  font-weight: bold;
}
li:hover {
  background-color: white;
  color: #e9967a;
}

.main {
  background-color: white;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 900px;
  height: 800px;
  padding: 50px;
  border-radius: 15px;
}

.content {
  width: 800px;
  height: 600px;
  text-align: center;
}

.span {
  color: #dd1616;
  font-weight: bold;
}

.light {
  background-color: #ffd000c7;
  font-weight: bold;
  border-radius: 6px;
  /* line-height: 50%; */
}

/*왼쪽에서 오른쪽으로 이동하는 에니메이션*/
.underline {
  position: relative;
}
.underline:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0px;
  height: 15px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.7s;
  opacity: 0;
  background-color: #fc460934;
  border-radius: 10px;
}
.underline:hover:after {
  width: 100%;
  opacity: 1;
}

.etc {
  position: relative;
  font-weight: bold;
}
.etc:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0px;
  height: 5px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.8s;
  opacity: 0;
  background-color: #64646434;
  border-radius: 10px;
}
.etc:hover:after {
  width: 100%;
  opacity: 1;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  60% {
    border-color: transparent;
  }
}

.content {
  padding: 20px;
  width: 800px;
  height: 600px;
  font-size: 20px;
  line-height: 30px;
}

.dm {
  margin: 20px;
}

.h1 {
  color: #832b0e;
  margin-bottom: 20px;
}
.h2 {
  color: #832b0e;
  margin-bottom: 20px;
}
.h3 {
  color: #ce5932;
  margin: 20px;
}

.h4 {
  margin-bottom: 10px;
  text-align: left;
}

.txt {
  line-height: 160%;
  text-align: left;
}

.scroll {
  margin-top: 40px;
  width: 800px;
  height: 500px;
  overflow-y: scroll;
  border: none;
}

.scroll::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
}
.scroll::-webkit-scrollbar-track {
  background: white; /*스크롤바 뒷 배경 색상*/
}

.scroll::-webkit-scrollbar-thumb {
  background: #e9967a; /* 스크롤바의 색상 */
  border-radius: 5px;
  height: 20%; /* 스크롤바의 길이 */
}
