.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.link {
  text-decoration: none;
  color: inherit;
}

.nav {
  display: flex;
  color: white;
  background-color: #e9967a;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  border-style: double;
  border-width: 8px;
}

/* flex 상위에 적용하기 */

.li {
  float: left;
  padding: 20px 30px;
  width: 262px;
  font-size: 25px;
  font-weight: bold;
}

li:hover {
  background-color: white;
  color: #e9967a;
}

.main {
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 800px;
  padding: 50px;
  border-radius: 15px;
}

.content {
  width: 800px;
  height: 600px;
}

.header {
  margin: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.BST {
  float: left;
  margin: 20px;
  padding-left: 150px;
}

.input {
  padding: 8px;
  margin: 10px;
  outline: none;
}

.title {
  text-align: center;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

.btn {
  background-color: #e9967a;
  width: 45%;
  height: 45px;
  color: white;
  border-radius: 8px;
  border: none;
  margin: 20px 0px;
  font-size: 18px;
  font-weight: bold;
}

.img {
  margin: 10px;
}

.resultImg {
  margin: 0 30px 0 75px;
}

.checkImg {
  margin: 0 45px 0 100px;
}

.p {
  text-align: center;
  margin: 20px;
  padding: 20px;
  width: 20px;
}

.span {
  color: #bb3b11;
}

.div {
  display: grid;
  place-items: center;
}

.result {
  color: rgb(73, 63, 63);
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
  width: 40ch;
  animation: typing 1s steps(15), blink 0.4s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 30px;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  60% {
    border-color: transparent;
  }
}
