.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main {
  margin: 10px;
}

.title {
  color: rgb(73, 63, 63);
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  overflow: hidden;
  font-size: 3em;
}

.p {
  margin: 10px 0 10px 20px;
  display: inline-block;
  width: 200px;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
}

.input {
  /* display: inline-block; */
  width: 200px;
  height: 40px;
  padding: 10px;
  margin: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

.gender {
  margin-left: 30px;
  margin-right: 10px;
}

.label {
  display: inline;
  font-size: 18px;
  font-weight: 15px;
}

.button {
  display: block;
  margin: 10px;
  margin-top: 30px;
  margin-left: 50px;
  width: 80%;
  height: 55px;
  background-color: #e9967a;
  border: none;
  color: white;
  font-size: 23px;
  border-radius: 5px;
}

.button1 {
  display: inline;
  margin: 10px;
  margin-left: 50px;
  width: 38%;
  height: 55px;
  background-color: #e9967a;
  border: none;
  color: white;
  font-size: 21px;
  border-radius: 5px;
}

.button2 {
  display: inline;
  margin: 10px;
  width: 38%;
  height: 55px;
  background-color: #e9967a;
  border: none;
  color: white;
  font-size: 21px;
  border-radius: 5px;
}
