.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main {
  /* display: block; */
  margin: 10px;
}

.div {
  display: grid;
  place-items: center;
}

.title {
  color: rgb(73, 63, 63);
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  width: 18ch;
  animation: typing 1s steps(13), blink 0.4s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  60% {
    border-color: transparent;
  }
}

.p {
  margin: 10px 0 10px 40px;
  display: inline-block;
  width: 100px;
  text-align: center;
}

.input {
  /* display: inline-block; */
  width: 200px;
  height: 30px;
  padding: 10px;
  margin: 10px;
  border: none;
}

.gender {
  margin-left: 30px;
  margin-right: 10px;
}

.button {
  margin: 40px;
  width: 310px;
  height: 40px;
  background-color: #e9967a;
  border: none;
  color: white;
  font-size: 16px;
}
