* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Y콤퓨타체", "Roboto", sans-serif;
}

ul,
li,
ol {
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f8d4c9;
}
